body {
  margin: 0;
  font-family: 'Actor';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #18181d;
}

h2 {
  font-family: 'Bayon';
  font-size: 50px;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: darkslateblue;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bod {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

img {
  width: 80%;
  height: 250px;
}

.games-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.card {
  height: 350px;
  width: 420px;
  background-color: rgb(207, 207, 207);
  color: rgb(19, 20, 20);
  margin: 10px;
  border-radius: 10px;
  padding-top: 5px;
  margin-bottom: 40px;
}

.card button {
  background-color: rgb(19, 20, 20);
  color: whitesmoke;
  height: 20px;
  width: 25px;
  display: flex;
  border: 1px solid;
  justify-content: center;
  margin-top: 0;
  float: right;
  margin-right: 5px;
  margin-bottom: 0;
}

.card button:hover {
  background-color: #f2b705;
}

.card button::after {
  background-color: darkslateblue;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 3px solid darkslateblue;
  border-radius: 10px;
  color: whitesmoke;
  margin: 10% 38%;
}

label {
  margin: 15px;
  font-size: 20px;
}

input {
  margin-left: 5px;
}

button {
  background-color: darkslateblue;
  color: whitesmoke;
  border: 4px double whitesmoke;
  border-radius: 8px;
  width: 130px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 14px;
}

button:hover {
  background-color: #f2b705;
}

p {
  color: whitesmoke;
}

p a {
  color: #f2b705;
}

.deets-wrapper {
  display: flex;
  justify-content: center;
}

.deets {
  height: 550px;
  width: 600px;
  background-color: rgb(207, 207, 207);
  color: rgb(19, 20, 20);
  margin: 10px;
  border-radius: 10px;
  padding-top: 5px;
  margin-bottom: 40px;
}

.deets p {
  color: rgb(19, 20, 20);
  padding: 0 20px;
}

.deets img {
  height: 300px;
}

.listform {
  margin: 5% 35%;
}

.lists {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 3px solid darkslateblue;
  border-radius: 10px;
  color: whitesmoke;
  margin: 5% 35%;
}

.deets button {
  float: left;
  margin-left: 115px;
  margin-top: 30px;
}
