body {
  margin: 0;
  font-family: 'Actor';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #18181d;
}

h2 {
  font-family: 'Bayon';
  font-size: 50px;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: darkslateblue;
  height: 50px;
}

.bod {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

img {
  width: 80%;
  height: 250px;
}

.container {
  padding: 2em 0;
  display: flex;
  justify-content: center;
}

.card {
  height: 350px;
  width: 400px;
  background-color: rgb(207, 207, 207);
  color: rgb(19, 20, 20);
  margin: 10px;
  border-radius: 10px;
}
